
<style>
    body{
        margin: 0;
    }
    h1{
        margin: 0;
        padding:0;
    }
    p{
        margin: 0;
        padding:0; 
    }

    #container{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #content{
        background-color: F5F6E9;
        width: 500px;
        height: 200px;
        padding: 50px;
        border-radius: 8px;
    }

    #contentHeader{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
    }

    #contentBody{
        width: 100%;
        height: calc(100% - 100px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #contentTitle{
        font-family: sans-serif;
        font-weight: 600;
        color: #0F2744;
    }
    #contentTitle strong {
        color: #7C8046;
    }

    #contentText{
        font-family: sans-serif;
        font-weight: 400;
        font-size: 17px;
        color: #0F2744;
        text-align: center;
        margin: 10px;
    }

    #contentFooter{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center
    }

    #contentLink{
        background-color: #7C8046;
        color: white;
        font-family: sans-serif;
        border-radius: 4px;
        font-size: 14px;
        text-decoration: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: .1s ease-in;
    }

    #contentLink:hover{
        background-color: #7c8046a1;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 13px;
        padding-bottom: 13px;
    }

</style>


<div id="container">
    <div id="content">
        <div id="contentHeader">
            <h1 id="contentTitle">Recupere seu acesso <strong>Skirel</strong></h1>
        </div>
        <div id="contentBody">
            <p id="contentText">Vizualize a senha de sua conta <strong>Skirel</strong> clicando no link a seguir: </p>
        </div>
        
    </div>
</div>