<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href="styles/homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/logo_cores_icones\icone fundo verde escuro.png">

    <title>Skirel</title>

</head>
<body>
    
    <div id="header">

        <div id="iconPlace">
            <img id="logoHeader" src="images/logo_cores_icones/LogoSemFundo.png">
        </div>
        
        <div id="buttonsPlace">

            <div class="buttonBox">
                <a href="#home">Home</a>
            </div>
            <div class="buttonBox">
                <a href="#project">O Projeto</a>
            </div>
            <div class="buttonBox">
                <a href="#lab">O Laboratório</a>
            </div>
            <div class="buttonBox">
                <a href="#interface">A Interface</a>
            </div>
            <div class="buttonBox" >
                <a href="http://localhost:3000/Login" id="loginButton">Login</a>
            </div>
            <div class="buttonBox">
                <a href="http://localhost:3000/Cadastro" id="cadastroButton">Cadastro</a>
            </div>
            
        </div>
        
        <div id="menuButton" onclick="Activate()">
            <input id="checkBox" type="checkbox">
            <label id="labelCheckBox" for="checkBox">
                    <div id="line1"></div>
                    <div id="line2"></div>
                    <div id="line3"></div>
            </label>
        </div>

    </div>

        
    <div id="home">
    
        <div id="homeTextContent">
            <img id="skirel" src="images/logo_cores_icones/Logo fundo claro.png">
            <h3 id="homeTitle" >Compartilhe seus modelos preditivos com o mundo!</h3>
            <p id="homeParagraph">Acesse os modelos de pesquisadores e compartilhe os seus.</p>
            <div id="interfaceButton">
                <a href="http://localhost:3000/cadastro" id="cadastroButton">Cadastro</a>
            </div>
        </div>

        <div id="interfaceImage">
            <img src="images/homeHome.jpg">
        </div>

    </div>

    <div id="project">
        <div id="projectContainer">
            <div id="projectImageContainer">
                <img id="projectImage" src="images/projectHome.jpg">
            </div>

            <div id="projectTextContainer">
                <div id="projectTitleContent">
                    <h3 id="projectTitle">O Projeto</h3>
                </div>
                <div id="projectParagraphContent">
                    <p id="projectParagraph">O projeto como um todo estuda o fenômeno da <strong>Cintilação Ionosferica</strong> na região da América do Sul. Esse fenômeno é uma rápida modificação nas ondas de rádio causada por estruturas de pequenas escalas presentes na ionosfera, dessa forma prejudicando a comunicação dos aparelhos que utilizam desse meio para se comunicar. Paralelo a esse contexto, a popularidade de algoritmos de aprendizagem de máquina proporcionou um ambiente prolífico para o desenvolvimento de modelos preditivos da ocorrência de cintilação ionosférica. Em geral, tais modelos utilizam a atividade geomagnética, as suas variações sazonais e diárias, as atividades solar e interplanetária e o estado da ionosfera para prever e determinar a intensidade da ocorrência de cintilação ionosférica</p>
                </div>
            </div>
        </div>
    </div>

    <div id="lab">
       <div id="labContainer">
            <div id="labImageContainer">
                <img id="labImage" src="images/dartiLogo.png">
            </div>

            <div id="labTextContainer">
                <div id="labTitleContent">
                    <h3 id="labTitle">O Laboratório</h3>
                </div>

                <div id="labParagraphContent">
                    <p id="labParagraph">O <strong>Darti Lab</strong> (Laboratório de Análise de Dados e Inteligência Artificial) é um laboratório da Universidade Federal do Maranhão que tem como missão exercer pesquisas com excelência e inovação, proporcionar a inclusão e pluralidade sem perder seu cerne de pesquisa, tornar-se um laboratório referência no Brasil no âmbito da inteligência artificial, rompendo barreiras, buscando a integração e abrangendo diferentes áreas em pesquisas sem perder seu escopo central e seu propósito inovador</p>
                </div>
            </div>
       </div>
    </div>

    <div id="interface">
        <div id="interfaceContainer">
            <div id="interfaceTextContainer">
                <div id="interfaceTitleContent">
                    <h3 id="interfaceTitle">A Interface</h3>
                </div>

                <div id="interfaceParagraphContent">
                    <p id="interfaceParagraph">O <strong>Skirel</strong>, é uma plataforma segura e responsiva que tem como finalidade oferecer maior facilidade de manuseio de modelos de predição estabelecendo uma interface que o pesquisador possa armazenar e gerenciar seus modelos, assim como realizar o contato com outros pesquisadores a fim de expandir suas pesquisas. Apesar de estar envolvido em um projeto de aprendizagem de máquina voltado para cintilação ionosférica, o mesmo pode armazenar modelos preditivos de outros âmbitos que não sejam cintilação ionosférica</p>
                </div>

            </div>

            <div id="interfaceCardsContainer">
                <div class="interfaceCards">
                    <div class="interfaceCardsImagesContent">
                        <img class="interfaceCardImage" src="images/cardDashboard.png">
                    </div>

                    <div class="interfaceCardsTextContent">
                        <div class="interfaceCardsTitleContent">
                            <h3 class="interfaceCardsTitle">Dashboard</h3>
                        </div> 

                        <div class="interfaceCardsParagraphContent">
                            <p class="interfaceCardsParagraph">O <strong>Skirel</strong> disponibiliza dashboards responsável por informar o usuário com dados referentes aos seus modelos</p>
                        </div>
                    </div>
                </div>

                <div class="interfaceCards">
                    <div class="interfaceCardsImagesContent">
                        <img class="interfaceCardImage" src="images/cardModels.jpg"> 
                    </div>

                    <div class="interfaceCardsTextContent">
                        <div class="interfaceCardsTitleContent">
                            <h3 class="interfaceCardsTitle">Modelos</h3>
                        </div>

                        <div class="interfaceCardsParagraphContent">
                            <p class="interfaceCardsParagraph">O <strong>Skirel</strong> é uma plataforma intuitiva e segura para os pesquisadores armazenamrem seus modelos de predição</p>
                        </div>
                    </div>
                </div>

                <div class="interfaceCards">
                    <div class="interfaceCardsImagesContent">
                        <img class="interfaceCardImage" src="images/cardComunity.jpg">
                    </div>

                    <div class="interfaceCardsTextContent">
                        <div class="interfaceCardsTitleContent">
                            <h3 class="interfaceCardsTitle">Comunidade</h3>
                        </div>

                        <div class="interfaceCardsParagraphContent">
                            <p class="interfaceCardsParagraph">O <strong>Skirel</strong> tem como principal funcionalidade aproximar a comunidade de pesquisadores de Machine Learning</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="buttonsPlaceHidden">
        
        <div class="buttonBox" >
            <a href="http://localhost:3000/Login" id="loginButton">Login</a>
        </div>
        <div class="buttonBox">
            <a href="http://localhost:3000/Cadastro" id="cadastroButton">Cadastro</a>
        </div>
        <div class="buttonBox">
            <a href="#home">Home</a>
        </div>
        <div class="buttonBox">
            <a href="#project">O Projeto</a>
        </div>
        <div class="buttonBox">
            <a href="#lab">O Laboratório</a>
        </div>
        <div class="buttonBox">
            <a href="#interface">A Interface</a>
        </div>
        
    </div>
    
<script src="scripts/homepage.js"></script>

</body>
</html>