<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <title>Skirel</title>

    <style>

        
    </style>

</head>
<body>

    <div id="header">
        <div id="iconPlace">

        </div>

        <div id="buttonsPlace">

            <div class="buttonBox">
                <a href="#home">Home</a>
            </div>
            <div class="buttonBox">
                <a href="#project">O Projeto</a>
            </div>
            <div class="buttonBox">
                <a href="#">O Laboratório</a>
            </div>
            <div class="buttonBox">
                <a href="#">A Interface</a>
            </div>
            <div class="buttonBox">
                <a href="#" id="loginButton">Login</a>
            </div>
            <div class="buttonBox">
                <a href="#" id="cadastroButton">Cadastro</a>
            </div>
            
        </div>
    </div>

    <div id="home">
        
        <div id="interfaceTitle">
            <h3>Compartilhe os seus modelos preditivos com o mundo todo!</h3>
            <p>Acesse os modelos de pesquisadores e compartilhe os seus.</p>
            <div class="buttonBox" id="interfaceButton">
                <a href="#" id="cadastroButton">Cadastro</a>
            </div>
        </div>

        <div id="interfaceImage">
        </div>

    </div>

    <div id="project">
        
        <div id="projectContainer">

            <div class="projectColumn">
                <div class="feature">
                    <div class="text">
                        <h3 id="projectTitle">
                            O Projeto
                        </h3>
                        <p  id="projectparagraph">
                            O projeto como um todo estuda o fenômeno da Cintilação Ionosférica na região da América do Sul. Esse fenômeno é uma rápida modificação nas ondas de rádio causada por estruturas de pequenas escalas presentes na ionosfera, dessa forma prejudicando a comunicação dos aparelhos que utilizam desse meio para se comunicar. Paralelo a esse contexto, a popularidade de algoritmos de aprendizagem de máquina proporcionou um ambiente prolífico para o desenvolvimento de modelos preditivos da ocorrência de cintilação ionosférica. Em geral, tais modelos utilizam a atividade geomagnética, as suas variações sazonais e diárias, as atividades solar e interplanetária e o estado da ionosfera para prever e determinar a intensidade da ocorrência de cintilação ionosférica.
                        </p>
                    </div>
                </div>    
            </div>

            <div class="projectColumn"> 
                <div class="feature">
                    
                    <div id="projectImage"></div>
                    
                </div>     
            </div>

        </div>

    </div>

</body>
</html>