<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="styles/loginpage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet"> 
    <link rel="icon" type="image/png" href="images/logo_cores_icones\icone fundo verde escuro.png">

    <title>Skirel</title>

</head>
<body>
    
    <div id="containerContainer">
        
        <a href="http://localhost:3000/"><img id="img" src="images\logo_cores_icones\LogoSemFundo.png" width="100px"></a>

        <div id="containerHeader">
                <h1 id="containerTitle">Entre na sua conta Skirel</h1>
        </div>

        <div id="container">
            <form id="loginForm">
                <input class="inputField" type="email" id="email" placeholder="Email" required>
                <input class="inputField" type="password" id="password" placeholder="Senha" required>
                <button  id="imputSubmit" type="submit">Logar <img id="imgLogin" src="images/LoginIcon.svg" width="23px"></button>
            </form>
        </div>

        <p class="question">Esqueceu a senha? <a href="http://localhost:3000/Recuperar_Senha">Recuperar Senha</a></p>
        <p class="question"> Novo no Skirel ? <a href="http://localhost:3000/Cadastro">Criar uma conta</a></p>
        
        
    </div>

    <script src="scripts/loginpage.js"></script>

</body>
</html>