<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="styles/registerpage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet"> 
    <link rel="icon" type="image/png" href="images/logo_cores_icones\icone fundo verde escuro.png">

    <title>Skirel</title>
</head>
<body>

    <div id="containerContainer">
        
        <a href="http://localhost:3000/"><img id="img" src="images\logo_cores_icones\LogoSemFundo.png" width="90px"></a>

        <div id="containerHeader">
                <h1 id="containerTitle">Crie uma conta Skirel</h1>
        </div>

        <div id="container">
            <form id="registerForm">
                <input class="inputField" type="email" id="email" placeholder="Email" required>
                <input class="inputField" type="text" id="name" placeholder="Nome Completo" required>
                <input class="inputField" type="password" id="password" placeholder="Senha" required>
                <input class="inputField" type="password" id="confirmPassword" placeholder="Confirme a Senha" required>
                <button  id="imputSubmit" type="submit">Cadastrar</button>
            </form>
        </div>

        <p class="question">Ja possui uma conta? <a href="http://localhost:3000/Login">Logar</a></p>

    </div>

    <script src="scripts/registerpage.js"></script>
</body>
</html>