<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="styles/registerpage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

    <title>Skirel</title>
</head>
<body>

    <div id="container">

        <form class="form">
            <p class="title">Cadastro </p>
            <p class="message">Cadastre-se para ter acesso à plataforma. </p>
            <div class="flex">
                <label>
                    <input required="" placeholder="" type="text" class="input1">
                    <span>Nome</span>
                </label>
        
                <label>
                    <input required="" placeholder="" type="text" class="input1">
                    <span>Sobrenome</span>
                </label>
            </div>  
                    
            <label>
                <input required="" placeholder="" type="email" class="input">
                <span>Email</span>
            </label> 
                
            <label>
                <input required="" placeholder="" type="password" class="input">
                <span>Senha</span>
            </label>
            <label>
                <input required="" placeholder="" type="password" class="input">
                <span>Confirme a Senha</span>
            </label>
            <button class="submit">Enviar</button>
            <p class="signin">Já possui uma conta ? <a href="http://localhost:3000/login">Login</a> </p>
        </form>

    </div>

</body>
</html>