<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="styles/showpassword.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet"> 
    <link rel="icon" type="image/png" href="images/logo_cores_icones\icone fundo verde escuro.png">

    <title>Skirel</title>
</head>
<body>

    <div id="container">
        <div id="content">
            <div id="contentHeader" >
                <h1 id="pageTitle">Recuperação de acesso</h1>
            </div>
            <div id="contentBody">
                <form id="attForm">
                    <input type="password" placeholder="Digite nova senha" id="newPassword" required>
                    <button type="submit">Enviar</button>
                </form>

                <!-- <div id="showPassword"></div> -->
            </div>
            <div id="contentFooter">
                <a id="link" href="http://localhost:3000/Login">Voltar ao login</a>
            </div>
        </div>
    </div>
    

    <script>
        document.getElementById('attForm').addEventListener('submit', (event) =>{
            event.preventDefault();
            let url = new URL(window.location.href); // Pega a URL atual
            const email = url.searchParams.get("User");
            const newPassword = document.getElementById('newPassword').value

            console.log(email)
            console.log(newPassword)

            fetch('http://localhost:3000/auth/changePassword',{
                method:'POST',
                headers:{
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email:email,
                    newPassword:newPassword
                })
            })
            .then(res => res.json())
            .then(data =>{
                if(!data.success){
                    alert(data.message);
                    console.log(data.error)
                }else{
                    document.getElementById('contentBody').innerHTML = `<div id="showPassword">${data.message}</div>`
                }
            })

        })
        
        /*
        fetch('http://localhost:3000/auth/getPass', {
            method: 'POST',
            headers:{
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                email:email
            })
        })
        .then(res=>res.json())
        .then(data=>{
            if(data.success){
                document.getElementById('contentBody').innerHTML = `<div id="showPassword">${data.user_pass}</div>`
            }else{
                alert(data.message)
            }
        })
        */
    </script>
</body>
</html>