<link rel="stylesheet" type="text/css" href="styles/loggedhome.css"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

<div id="bodyContainer">
    <div id="containerBoxNew">
        <div id="titleContainer">
            <h3 id="subtile">OVERVIEW</h3>
            <h1 id="titleHome">Dashboard</h1>
        </div>

        <div id="accessNetworkingContainer">
            <div id="accessContainer">
                <div id="accessHeader">
                    <div id="accessTitleContainer">
                        <h1 id="accessTitle">Acessos aos meus modelos</h1>
                    </div>
                    <div id="accessChoiceContainer">
                        <div class="accessChoiceButtonContainer">
                            <h3 class="accessChoiceTitle">Semanal</h3>
                        </div>
                        <div class="accessChoiceButtonContainer">
                            <h3 class="accessChoiceTitle">Mensal</h3>
                        </div>
                        <div class="accessChoiceButtonContainer">
                            <h3 class="accessChoiceTitle">Anual</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div id="networkContainer">
                <div id="networkingHeader">
                    <h1 id="networkingTitle">Networking</h1>
                </div>
            </div>
        </div>
    </div>
</div>