<link rel="stylesheet" type="text/css" href="styles/partialsStyles/loggedcommunity.css"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

<div id="bodyContainer">
    <div id="containerBoxNew">
        <div id="titleContainer">
            <h3 id="subtile">OVERVIEW</h3>
            <h1 id="titleHome">Comunidade</h1>
        </div>
    </div>

    <div id="content">
        <div id="searchersConteiner">
            <div id="users"  onclick="seachFocous()">
                <div id="userHeader">
                    <img src="images/searchIcon.svg" width="25px">
                    <input type="text" onkeyup="searchUser()" placeholder="Nome do pesquisador" id="searchInput">
                </div>
                <div id="userBody">
                    <ul id="usersList"></ul>
                </div>
            </div>
            <div id="myContacts"  onclick="myContactsFocous()">
                <div id="myContactsHeader">
                    <h1 id="myContactsTitle">Meus Contatos</h1>
                </div>
                <div id="myContactsBody"></div>
            </div>
            <div id="contactsRequests" onclick="contactsRequestFocous()">
                <div id="contactsRequestsHeader">
                    <h1 id="contactsRequestsTitle">Solicitações de contato</h1>
                </div>
                <div id="contactsRequestsBody"></div>
            </div>
        </div>
        <div id="viewerContainer">
            <div id="viewer">
                <div id="defaultView">
                    <h1 id="defaultViewTitle">Selecione um usuário</h1>
                    <p id="deafultViewText">Escolha um usuário qualquer, seja ele do seu networking, solicitante de contato ou um usuário qualquer da plataforma.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="scripts/partialsScripts/loggedcommunity.js"></script>