<link rel="stylesheet" type="text/css" href="styles/partialsStyles/loggedprofile.css"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

<div id="bodyContainer">
    <div id="containerBoxNew">
        <div id="titleContainer">
            <h3 id="subtile">OVERVIEW</h3>
            <h1 id="titleHome">Meu Perfil</h1>
        </div>
    </div>
    <div id="content">
        <div id="profileContainer">
            <div id="backgroundImg">

            </div>
            <div id="searcherNameContainer">
                <div id="searcherImgContent">
                    <div id="searcherImg">
                        L
                    </div>
                </div>
                <div id="nameContainer">
                    <h1 id="searcherName">Lucas Martins Campos Matos</h1>
                    <p id="searcherSubtitle">Pesquisador</p>
                </div>
            </div>
            <div id="searcherInfosContainer">
                <div id="searcherInfosHeader">
                    <button class="infoButton">Minhas informações</button>
                </div>
                <div id="searcherInfosBody">
                    <div id="bioContactsContainer">
                         <div id="bioContainer">
                            <div id="bioContainerHeader">
                                <h1 class="bioTitle">Biografía</h1>
                                <button id="editbutton" class="EditContainer" onclick="editbio()">
                                    <img src="images\NavbarIcons\editIcon.svg" width="20px">
                                </button>
                            </div>
                            <div id="bioContainerBody">
                                <p id="bioText"> </p>
                            </div>
                         </div>
                         <div id="contactsContainer">
                            <div id="contactsContainerHeader">
                                <h1 class="bioTitle">Meios de Contato</h1>
                                <button id="editcontactsbutton" class="EditContainer"  onclick="editcontacts()">
                                    <img src="images\NavbarIcons\editIcon.svg" width="20px">
                                </button>
                            </div>
                            <div id="contactsContainerBody">
                                <div class="contactsLinks">
                                    <h1 class="linksTitle">Instagram</h1>
                                    <img src="images/instaIcon.svg">
                                </div>
                                <div class="contactsLinks">
                                    <h1 class="linksTitle">Linkedin</h1>
                                    <img src="images/linkedinIcon.svg">
                                </div>
                                <div class="contactsLinks">
                                    <h1 class="linksTitle">Whatsapp</h1>
                                    <img src="images/wppIcon.svg">
                                </div>
                            </div>
                         </div>
                    </div>
                    <div id="networkingContainer">
                        <div id="networkingContent">
                            <div id="networkingContentHeader">
                                <h1 class="bioTitle">Networking</h1>
                            </div>
                            <div id="networkingContentBody">
                                <ul id="networkingList"> 
                                    <li class="networkingUser">
                                        <a class="link" href="http://localhost:3000/welcome?View=Comunidade">
                                            <div class="userImage">
                                                P
                                            </div>
                                            <div class="userInfos">
                                                <h1 class="userName">Pedro Alves</h1>
                                                <p class="userModels">13 modelos</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="networkingUser">
                                        <a class="link" href="http://localhost:3000/welcome?View=Comunidade">
                                            <div class="userImage">
                                                A
                                            </div>
                                            <div class="userInfos">
                                                <h1 class="userName">Alex Oliveira Barradas</h1>
                                                <p class="userModels">26 modelos</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="scripts/partialsScripts/loggedprofile.js"></script>