<link rel="stylesheet" type="text/css" href="styles/loggedhome.css"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

<div id="bodyContainer">
    <div id="containerBoxNew">
        <div id="titleContainer">
            <h3 id="subtile">OVERVIEW</h3>
            <h1 id="titleHome">Dashboard</h1>
        </div>

        <div id="accessNetworkingContainer">
            <div id="accessContainer">
                <div id="accessHeader">
                    <div id="accessTitleContainer">
                        <h1 id="accessTitle">Acessos aos meus modelos</h1>
                    </div>
                    <div id="accessChoiceContainer">
                        <div onclick="defineLabels1()" id="semanalButton" class="accessChoiceButtonContainerSelected">
                            <h3 id="semanalButtonTitle" class="accessChoiceTitleSelected">Semanal</h3>
                        </div>
                        <div onclick="defineLabels2()" id="mensalButton" class="accessChoiceButtonContainer">
                            <h3 id="mensalButtonTitle" class="accessChoiceTitle">Mensal</h3>
                        </div>
                        <div onclick="defineLabels3()" id="anualButton" class="accessChoiceButtonContainer">
                            <h3 id="anualButtonTitle" class="accessChoiceTitle">Anual</h3>
                        </div>
                    </div>
                </div>

                <div id="accessBody">
                    <div id="chartContainer">
                        <canvas id="myChart"></canvas>
                    </div>
                    <!-- Config Line Chart -->
                </div>
            </div>
            <div id="networkContainer">
                <div id="networkingHeader">
                    <h1 id="networkingTitle">Networking</h1>
                </div>
                <div id="networkingBody">
                    <ul id="usersList" >
                        <li class="userContainer">
                            <div class="profileImgContainer">
                                <img width="30px" src="images/NavbarIcons/profileIconUnselected.svg">
                            </div>
                            <div class="userDataContainer">
                                <h3 class="userDataName">Nome do Pesquisador</h3>
                                <h1 class="userDataModels">10 Modelos</h1>
                            </div>
                            <div class="deleteContainer">
                                <a href="#"><img class="imgDelete" src="images/deleteIcon.svg" width="20px"></a>                            </div>
                        </li>

                        <li class="userContainer">
                            <div class="profileImgContainer">
                                <img width="30px" src="images/NavbarIcons/profileIconUnselected.svg">
                            </div>
                            <div class="userDataContainer">
                                <h3 class="userDataName">Nome do Pesquisador</h3>
                                <h1 class="userDataModels">10 Modelos</h1>
                            </div>
                            <div class="deleteContainer">
                                <a href="#"><img class="imgDelete" src="images/deleteIcon.svg" width="20px"></a>                            </div>
                        </li>

                        <li class="userContainer">
                            <div class="profileImgContainer">
                                <img width="30px" src="images/NavbarIcons/profileIconUnselected.svg">
                            </div>
                            <div class="userDataContainer">
                                <h3 class="userDataName">Nome do Pesquisador</h3>
                                <h1 class="userDataModels">10 Modelos</h1>
                            </div>
                            <div class="deleteContainer">
                                <a href="#"><img class="imgDelete" src="images/deleteIcon.svg" width="20px"></a>                            </div>
                        </li>

                        <li class="userContainer">
                            <div class="profileImgContainer">
                                <img width="30px" src="images/NavbarIcons/profileIconUnselected.svg">
                            </div>
                            <div class="userDataContainer">
                                <h3 class="userDataName">Nome do Pesquisador</h3>
                                <h1 class="userDataModels">10 Modelos</h1>
                            </div>
                            <div class="deleteContainer">
                                <a href="#"><img class="imgDelete" src="images/deleteIcon.svg" width="20px"></a>                            </div>
                        </li>

                        <li class="userContainer">
                            <div class="profileImgContainer">
                                <img width="30px" src="images/NavbarIcons/profileIconUnselected.svg">
                            </div>
                            <div class="userDataContainer">
                                <h3 class="userDataName">Nome do Pesquisador</h3>
                                <h1 class="userDataModels">10 Modelos</h1>
                            </div>
                            <div class="deleteContainer">
                                <a href="#"><img class="imgDelete" src="images/deleteIcon.svg" width="20px"></a>
                            </div>
                        </li>

                        <li class="userContainer">
                            <div class="profileImgContainer">
                                <img width="30px" src="images/NavbarIcons/profileIconUnselected.svg">
                            </div>
                            <div class="userDataContainer">
                                <h3 class="userDataName">Nome do Pesquisador</h3>
                                <h1 class="userDataModels">10 Modelos</h1>
                            </div>
                            <div class="deleteContainer">
                                <a href="#"><img class="imgDelete" src="images/deleteIcon.svg" width="20px"></a>                            </div>
                        </li>

                        <li class="userContainer">
                            <div class="profileImgContainer">
                                <img width="30px" src="images/NavbarIcons/profileIconUnselected.svg">
                            </div>
                            <div class="userDataContainer">
                                <h3 class="userDataName">Nome do Pesquisador</h3>
                                <h1 class="userDataModels">10 Modelos</h1>
                            </div>
                            <div class="deleteContainer">
                                <a href="#"><img class="imgDelete" src="images/deleteIcon.svg" width="20px"></a>                            </div>
                        </li>

                        <li class="userContainer">
                            <div class="profileImgContainer">
                                <img width="30px" src="images/NavbarIcons/profileIconUnselected.svg">
                            </div>
                            <div class="userDataContainer">
                                <h3 class="userDataName">Nome do Pesquisador</h3>
                                <h1 class="userDataModels">10 Modelos</h1>
                            </div>
                            <div class="deleteContainer">
                                <a href="#"><img class="imgDelete" src="images/deleteIcon.svg" width="20px"></a>                            </div>
                        </li>

                        <li class="userContainer">
                            <div class="profileImgContainer">
                                <img width="30px" src="images/NavbarIcons/profileIconUnselected.svg">
                            </div>
                            <div class="userDataContainer">
                                <h3 class="userDataName">Nome do Pesquisador</h3>
                                <h1 class="userDataModels">10 Modelos</h1>
                            </div>
                            <div class="deleteContainer">
                                <a href="#"><img class="imgDelete" src="images/deleteIcon.svg" width="20px"></a>                            </div>
                        </li>

                        <li class="userContainer">
                            <div class="profileImgContainer">
                                <img width="30px" src="images/NavbarIcons/profileIconUnselected.svg">
                            </div>
                            <div class="userDataContainer">
                                <h3 class="userDataName">Nome do Pesquisador</h3>
                                <h1 class="userDataModels">10 Modelos</h1>
                            </div>
                            <div class="deleteContainer">
                                <a href="#"><img class="imgDelete" src="images/deleteIcon.svg" width="20px"></a>                            </div>
                        </li>

                        <li class="userContainer">
                            <div class="profileImgContainer">
                                <img width="30px" src="images/NavbarIcons/profileIconUnselected.svg">
                            </div>
                            <div class="userDataContainer">
                                <h3 class="userDataName">Nome do Pesquisador</h3>
                                <h1 class="userDataModels">10 Modelos</h1>
                            </div>
                            <div class="deleteContainer">
                                <a href="#"><img class="imgDelete" src="images/deleteIcon.svg" width="20px"></a> 
                            </div>
                        </li>

                        <li class="userContainer">
                            <div class="profileImgContainer">
                                <img width="30px" src="images/NavbarIcons/profileIconUnselected.svg">
                            </div>
                            <div class="userDataContainer">
                                <h3 class="userDataName">Nome do Pesquisador</h3>
                                <h1 class="userDataModels">10 Modelos</h1>
                            </div>
                            <div class="deleteContainer">
                                <a href="#"><img class="imgDelete" src="images/deleteIcon.svg" width="20px"></a> 
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="myModelsContainer">
            <div id="myModelsHeader">
                <h1 id="myModelsTitle">Meus modelos</h1>
            </div>
            <div id="myModelsBody">
                <div id="myModelsBodyHeader">
                    <div class="modelNameContainer">
                        <h2 class="modelsBHtitle">Nome</h2>
                    </div>
                    <div class="modelTypeContainer">
                        <h2 class="modelsBHtitle">Descrição</h2>
                    </div>
                    <div class="modelFrameworkContainer">
                        <h2 class="modelsBHtitle">Framework</h2>
                    </div>
                    <div class="modelAccessContainer">
                        <h2 class="modelsBHtitle">Acessos</h2>
                    </div>
                </div>

                <div id="myModelsListContainer">
                    <ul id="myModelsList">
                        <li class="myModelIten">
                            <div class="modelNameContainer">
                                <h2 class="modelstitle">Modelo 1</h2>
                            </div>
                            <div class="modelTypeContainer">
                                <h2 class="modelstitle">BCC</h2>
                            </div>
                            <div class="modelFrameworkContainer">
                                <h2 class="modelstitle">TensorFlow</h2>
                            </div>
                            <div class="modelAccessContainer">
                                <h2 class="modelstitle">15</h2>
                            </div>
                        </li>

                        <li class="myModelIten">
                            <div class="modelNameContainer">
                                <h2 class="modelstitle">Modelo 1</h2>
                            </div>
                            <div class="modelTypeContainer">
                                <h2 class="modelstitle">BCC</h2>
                            </div>
                            <div class="modelFrameworkContainer">
                                <h2 class="modelstitle">Scikit-learn</h2>
                            </div>
                            <div class="modelAccessContainer">
                                <h2 class="modelstitle">15</h2>
                            </div>
                        </li>

                        <li class="myModelIten">
                            <div class="modelNameContainer">
                                <h2 class="modelstitle">Modelo 1</h2>
                            </div>
                            <div class="modelTypeContainer">
                                <h2 class="modelstitle">BCC</h2>
                            </div>
                            <div class="modelFrameworkContainer">
                                <h2 class="modelstitle">TensorFlow</h2>
                            </div>
                            <div class="modelAccessContainer">
                                <h2 class="modelstitle">15</h2>
                            </div>
                        </li>

                        <li class="myModelIten">
                            <div class="modelNameContainer">
                                <h2 class="modelstitle">Modelo 1</h2>
                            </div>
                            <div class="modelTypeContainer">
                                <h2 class="modelstitle">BCC</h2>
                            </div>
                            <div class="modelFrameworkContainer">
                                <h2 class="modelstitle">TensorFlow</h2>
                            </div>
                            <div class="modelAccessContainer">
                                <h2 class="modelstitle">15</h2>
                            </div>
                        </li>

                        <li class="myModelIten">
                            <div class="modelNameContainer">
                                <h2 class="modelstitle">Modelo 1</h2>
                            </div>
                            <div class="modelTypeContainer">
                                <h2 class="modelstitle">BCC</h2>
                            </div>
                            <div class="modelFrameworkContainer">
                                <h2 class="modelstitle">TensorFlow</h2>
                            </div>
                            <div class="modelAccessContainer">
                                <h2 class="modelstitle">15</h2>
                            </div>
                        </li>

                        <li class="myModelIten">
                            <div class="modelNameContainer">
                                <h2 class="modelstitle">Modelo 1</h2>
                            </div>
                            <div class="modelTypeContainer">
                                <h2 class="modelstitle">BCC</h2>
                            </div>
                            <div class="modelFrameworkContainer">
                                <h2 class="modelstitle">TensorFlow</h2>
                            </div>
                            <div class="modelAccessContainer">
                                <h2 class="modelstitle">15</h2>
                            </div>
                        </li>

                        <li class="myModelIten">
                            <div class="modelNameContainer">
                                <h2 class="modelstitle">Modelo 1</h2>
                            </div>
                            <div class="modelTypeContainer">
                                <h2 class="modelstitle">BCC</h2>
                            </div>
                            <div class="modelFrameworkContainer">
                                <h2 class="modelstitle">TensorFlow</h2>
                            </div>
                            <div class="modelAccessContainer">
                                <h2 class="modelstitle">15</h2>
                            </div>
                        </li>

                        <li class="myModelIten">
                            <div class="modelNameContainer">
                                <h2 class="modelstitle">Modelo 1</h2>
                            </div>
                            <div class="modelTypeContainer">
                                <h2 class="modelstitle">BCC</h2>
                            </div>
                            <div class="modelFrameworkContainer">
                                <h2 class="modelstitle">TensorFlow</h2>
                            </div>
                            <div class="modelAccessContainer">
                                <h2 class="modelstitle">15</h2>
                            </div>
                        </li>

                        <li class="myModelIten">
                            <div class="modelNameContainer">
                                <h2 class="modelstitle">Modelo 1</h2>
                            </div>
                            <div class="modelTypeContainer">
                                <h2 class="modelstitle">BCC</h2>
                            </div>
                            <div class="modelFrameworkContainer">
                                <h2 class="modelstitle">TensorFlow</h2>
                            </div>
                            <div class="modelAccessContainer">
                                <h2 class="modelstitle">15</h2>
                            </div>
                        </li>

                        <li class="myModelIten">
                            <div class="modelNameContainer">
                                <h2 class="modelstitle">Modelo 1</h2>
                            </div>
                            <div class="modelTypeContainer">
                                <h2 class="modelstitle">BCC</h2>
                            </div>
                            <div class="modelFrameworkContainer">
                                <h2 class="modelstitle">TensorFlow</h2>
                            </div>
                            <div class="modelAccessContainer">
                                <h2 class="modelstitle">15</h2>
                            </div>
                        </li>

                        <li class="myModelIten">
                            <div class="modelNameContainer">
                                <h2 class="modelstitle">Modelo 1</h2>
                            </div>
                            <div class="modelTypeContainer">
                                <h2 class="modelstitle">BCC</h2>
                            </div>
                            <div class="modelFrameworkContainer">
                                <h2 class="modelstitle">TensorFlow</h2>
                            </div>
                            <div class="modelAccessContainer">
                                <h2 class="modelstitle">15</h2>
                            </div>
                        </li>

                        <li class="myModelIten">
                            <div class="modelNameContainer">
                                <h2 class="modelstitle">Modelo 1</h2>
                            </div>
                            <div class="modelTypeContainer">
                                <h2 class="modelstitle">BCC</h2>
                            </div>
                            <div class="modelFrameworkContainer">
                                <h2 class="modelstitle">TensorFlow</h2>
                            </div>
                            <div class="modelAccessContainer">
                                <h2 class="modelstitle">15</h2>
                            </div>
                        </li>

                        <li class="myModelIten">
                            <div class="modelNameContainer">
                                <h2 class="modelstitle">Modelo 1</h2>
                            </div>
                            <div class="modelTypeContainer">
                                <h2 class="modelstitle">BCC</h2>
                            </div>
                            <div class="modelFrameworkContainer">
                                <h2 class="modelstitle">TensorFlow</h2>
                            </div>
                            <div class="modelAccessContainer">
                                <h2 class="modelstitle">15</h2>
                            </div>
                        </li>

                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const semanalLabels = ["Jul/8","Jul/9","Jul/10","Jul/11","Jul/12","Jul/13","Jul/14"];
    const mensalLabels = ["Jul/1","Jul/2","Jul/3","Jul/4","Jul/5","Jul/6","Jul/","Jul/8","Jul/9","Jul/10","Jul/11","Jul/12","Jul/13","Jul/14"];
    const anualLabels = ["Janeiro","Fevereiro","Março","Abril","Maio","Junho","Julho"];

    //Tratar dados que vem do backend
    
    const ctx = document.getElementById('myChart');

    const data = {
        labels: semanalLabels,
        datasets: [{
            label: 'Acessos aos meus modelos',
            data: [65, 59, 80, 81, 56, 55, 40 , 65, 59, 80, 81, 56, 55, 40],
            fill: false,
            borderColor: '#CF5522',
            tension: 0.3,
            pointBackgroundColor: "#CF5522"
        }]
    }

    const config = {
        type: "line",
        data:data,
        options: {
            maintainAspectRatio: false,
            plugins:{
                legend:{
                    display: false
                }
            },
            scales:{
                x:{
                    grid:{
                        display: false,
                        drawBorder: false
                    }
                },
                y:{
                    grid:{
                        drawBorder: false
                    }
                }
            }
        },
    }

    const chart = new Chart(ctx, config);

    function defineLabels1(){
                
        setTimeout(()=>{
            document.getElementById("semanalButton").setAttribute("onclick","");
            document.getElementById("anualButton").setAttribute("onclick","defineLabels3()");
            document.getElementById("mensalButton").setAttribute("onclick","defineLabels2()");
        }, 100)
       
        document.getElementById("semanalButton").setAttribute("class", "accessChoiceButtonContainerSelected");
        document.getElementById("semanalButtonTitle").setAttribute("class", "accessChoiceTitleSelected");
        document.getElementById("mensalButton").setAttribute("class", "accessChoiceButtonContainer");
        document.getElementById("mensalButtonTitle").setAttribute("class", "accessChoiceTitle");
        document.getElementById("anualButton").setAttribute("class", "accessChoiceButtonContainer");
        document.getElementById("anualButtonTitle").setAttribute("class", "accessChoiceTitle");

        chart.config.data.labels = semanalLabels;
        chart.update();

    }

    function defineLabels2(){
        
        setTimeout(()=>{
            document.getElementById("mensalButton").setAttribute("onclick","");
            document.getElementById("semanalButton").setAttribute("onclick","defineLabels1()");
            document.getElementById("anualButton").setAttribute("onclick","defineLabels3()");
        }, 100)

        document.getElementById("semanalButton").setAttribute("class", "accessChoiceButtonContainer");
        document.getElementById("semanalButtonTitle").setAttribute("class", "accessChoiceTitle");
        document.getElementById("mensalButton").setAttribute("class", "accessChoiceButtonContainerSelected");
        document.getElementById("mensalButtonTitle").setAttribute("class", "accessChoiceTitleSelected");
        document.getElementById("anualButton").setAttribute("class", "accessChoiceButtonContainer");
        document.getElementById("anualButtonTitle").setAttribute("class", "accessChoiceTitle");

        chart.config.data.labels = mensalLabels;
        chart.update();
        
    }

    function defineLabels3(){
                
        setTimeout(()=>{
            document.getElementById("anualButton").setAttribute("onclick","");
            document.getElementById("semanalButton").setAttribute("onclick","defineLabels1()");
            document.getElementById("mensalButton").setAttribute("onclick","defineLabels2()");
        }, 100)

        document.getElementById("semanalButton").setAttribute("class", "accessChoiceButtonContainer");
        document.getElementById("semanalButtonTitle").setAttribute("class", "accessChoiceTitle");
        document.getElementById("mensalButton").setAttribute("class", "accessChoiceButtonContainer");
        document.getElementById("mensalButtonTitle").setAttribute("class", "accessChoiceTitle");
        document.getElementById("anualButton").setAttribute("class", "accessChoiceButtonContainerSelected");
        document.getElementById("anualButtonTitle").setAttribute("class", "accessChoiceTitleSelected");

        chart.config.data.labels = anualLabels;
        chart.update();
    }

</script>