<link rel="stylesheet" type="text/css" href="styles/partialsStyles/loggedmymodels.css"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

<div id="bodyContainer">

    <div id="containerBoxNew">
        <div id="titleContainer">
            <h3 id="subtile">OVERVIEW</h3>
            <h1 id="titleHome">Meus Modelos</h1>
        </div>

        <div id="containerControllers">
            <button  onclick="showImportModelView()" class="controllerButton">Importar</button>
        </div>

        <div id="myModelsListcontainer">
            <div id="myModelsListHeader">
                <h1 id="myModelsListHeaderTitle">Meus modelos</h1>
            </div>
            <div id="myModelsBodyHeader">
                <div class="modelNameContainer">
                    <h2 class="modelsBHtitle">Nome</h2>
                </div>
                <div class="modelTypeContainer">
                    <h2 class="modelsBHtitle">Descrição</h2>
                </div>
                <div class="modelFrameworkContainer">
                    <h2 class="modelsBHtitle">Framework</h2>
                </div>
                <div class="modelAccessContainer">
                    <h2 class="modelsBHtitle">Acessos</h2>
                </div>
            </div>
            <ul id="myModelsList"></ul>
        </div>
    </div>

    <div id="viewContainer"></div>
    
</div>

<script src="scripts/partialsScripts/loggedmymodels.js"></script>
