<link rel="stylesheet" type="text/css" href="styles/partialsStyles/loggedhome.css"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

<div id="bodyContainer">
    <div id="containerBoxNew">
        <div id="titleContainer">
            <h3 id="subtile">OVERVIEW</h3>
            <h1 id="titleHome">Dashboard Views</h1>
        </div>

        <div id="accessNetworkingContainer">
            <div id="chartsContainer">
                <div id="chartsHeader">
                    <h1 id="chartTitle">Acessos aos meus modelos</h1>
                </div>
                <div id="chartsBody">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div id="networkContainer">
                <div id="networkingHeader">
                    <h1 id="networkingTitle">Networking</h1>
                </div>
                <div id="networkingBody">
                    <ul id="usersList"></ul>
                </div>
            </div>
        </div>

        <div id="myModelsContainer">
            <div id="myModelsHeader">
                <h1 id="myModelsTitle">Meus modelos</h1>
            </div>
            <div id="myModelsBody">
                <div id="myModelsBodyHeader">
                    <div class="modelNameContainer">
                        <h2 class="modelsBHtitle">Nome</h2>
                    </div>
                    <div class="modelTypeContainer">
                        <h2 class="modelsBHtitle">Descrição</h2>
                    </div>
                    <div class="modelFrameworkContainer">
                        <h2 class="modelsBHtitle">Framework</h2>
                    </div>
                    <div class="modelAccessContainer">
                        <h2 class="modelsBHtitle">Acessos</h2>
                    </div>
                </div>

                <div id="myModelsListContainer">
                    <ul id="myModelsList"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="scripts/partialsScripts/loggedhome.js"></script>