
body{
    margin: 0;
    padding: 0; 
}

a{
    text-decoration: none;
    color: #424f63
}

p{
    font-family:'Inter';
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h3{
    font-family:'Inter';
    font-style: normal;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* ------------ Header ------------ */

#header{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconPlace{
    height: 100%;
    width: 60%;
}

#buttonsPlace{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttonBox{
    border-radius: 8px ;
    font-family:'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    transition-duration: 0.2s;
}

.buttonBox:hover{
    color: black;
    font-size: 18px;
}

#loginButton{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    color: #1A75FF;
    transition-duration: 0.2s;
}

#loginButton:hover{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 2px;
    background-color: #1A75FF;
    color: white;
}

#cadastroButton{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    background-color: #1A75FF;
    color: white;
    transition-duration: 0.2s;
}

#cadastroButton:hover{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 2px;
}

/* ------------ Header ------------ */
/* ------------ Home Page ------------ */

#home{
    /*background-color: green;*/
    padding-top: 80px;
    height: 828px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    #homeTextContent{
        height: 800px;
        width: 561px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: start;

    }

        #homeTitle{
            width: 592px;
            height: 180px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 60px;
            color: #141C24;
        }

        #homeParagraph{
            width: 592px;
            height: 28px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #344051;
        }

        #interfaceButton{
            margin-top: 40px;
            margin-left:10px;
        }

    #interfaceImage{
        background-color: rgba(0, 0, 0, 0.39);
        height: 750px;
        width: 500px;
        display: flex;
        align-items: flex-start;
        overflow: hidden;
        border-radius: 2px;
    }



/* ------------ Home Page ------------ */

/* ------------ The Project ------------ */

#project{
    background-color: #F9F9F9;
    height: 828px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    height: 860px;
    width: 100%;
}

    #projectContainer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }

        #projectTextContainer{
            display: flex;
            flex-direction: column;
            height: 600px;
            width: 545px;
        }

            #projectTitleContent{
                
                width: 100%;
                height: 50px;
                margin-bottom: 40px;
            }
            
                #projectTitle{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 40px;
                    color: #1975FF;
                }
                
            #projectParagraphContent{
                
                width: 100%;
                height: 420px;
            }

                #projectParagraph{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    color: #344051;
                    line-height: 32px;
                }

        #projectImageContainer{
            height: 600px;
            width: 545px;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            overflow: hidden;
        }

            #projectImage{
                height: 600px;
            }

/* ------------ The Project ------------ */
/* ------------ The Laboratory ------------*/

#lab{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
    width: 100%;
    height: 750px;
    border-radius: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}


/* ------------ The Laboratory ------------*/
/* ------------ The Interface ------------*/

#interface{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 863px;
    background-color: #F9F9F9;
}


/* ------------ The Interface ------------*/

/*  ------------ Responsive ------------ */

@media screen and (max-width: 1480px){
    
}

@media screen and (max-width: 1300px){
    
}

@media screen and (max-width: 850px){
    
}

@media screen and (max-width: 640px){
   
}
/*  ------------ Responsive ------------ */