@viewport {
    width: device-width;
    zoom:1;
 }

body{
    margin: 0;
    padding: 0; 
}

a{
    text-decoration: none;
    color: #424f63
}

p{
    font-family:'Inter';
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h3{
    font-family:'Inter';
    font-style: normal;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* ------------ Header ------------ */

#header{
    position: fixed;
    background-color: #F9F9F9;
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .25s ease-in-out;
}

#iconPlace{
    background-color: blue;
    margin-left: 50px;
    height: 60px;
    width: 60px;
}

#buttonsPlace{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttonBox{
    border-radius: 8px ;
    font-family:'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    transition-duration: 0.2s;
}

#shower{
    border-radius: 8px ;
    font-family:'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    transition-duration: 0.2s;
    display: none;
}

.burger {
    position: relative;
    width: 30px;
    height: 20px;
    background: transparent;
    cursor: pointer;
    display: block;
  }
  
  .burger input {
    display: none;
  }
  
  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 0px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 21px;
    left: 0px;
  }

.buttonBox:hover{
    color: black;
    font-size: 18px;
}

#loginButton{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    color: #1A75FF;
    transition-duration: 0.2s;
}

#loginButton:hover{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 2px;
    background-color: #1A75FF;
    color: white;
}

#cadastroButton{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    background-color: #1A75FF;
    color: white;
    transition-duration: 0.2s;
}

#cadastroButton:hover{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 2px;
}

/* ------------ Header ------------ */
/* ------------ Home Page ------------ */

#home{
    /*background-color: green;*/
    padding-top: 80px;
    height: 828px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    #homeTextContent{
        height: 800px;
        width: 561px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: start;

    }

        #homeTitle{
            width: 592px;
            height: 180px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 60px;
            color: #141C24;
        }

        #homeParagraph{
            width: 592px;
            height: 28px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #344051;
        }

        #interfaceButton{
            border-radius: 8px ;
            font-family:'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            transition-duration: 0.2s;
            margin-top: 40px;
            margin-left:10px;
        }

    #interfaceImage{
        background-color: rgba(0, 0, 0, 0.39);
        height: 750px;
        width: 500px;
        display: flex;
        align-items: flex-start;
        overflow: hidden;
        border-radius: 2px;
    }



/* ------------ Home Page ------------ */

/* ------------ The Project ------------ */

#project{
    background-color: #F9F9F9;
    height: 828px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    height: 860px;
    width: 100%;
}

    #projectContainer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }

        #projectTextContainer{
            display: flex;
            flex-direction: column;
            height: 600px;
            width: 545px;
        }

            #projectTitleContent{
                
                width: 100%;
                height: 50px;
                margin-bottom: 40px;
            }
            
                #projectTitle{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 40px;
                    color: #1975FF;
                    text-align: start;
                }
                
            #projectParagraphContent{
                
                width: 100%;
                height: 420px;
            }

                #projectParagraph{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    color: #344051;
                    line-height: 32px;
                    text-align: start;
                }

        #projectImageContainer{
            height: 600px;
            width: 545px;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            overflow: hidden;
        }

            #projectImage{
                height: 600px;
            }

/* ------------ The Project ------------ */
/* ------------ The Laboratory ------------*/

#lab{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
    width: 100%;
    height: 550px;
    border-radius: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

    #labContainer{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

        #labImageContainer{
            width: 600px;
            height: 600px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            #labImage{
                width: 100%;
            }

        #labTextContainer{
            width: 600px;
            height: 600px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

            #labTitleContent{
                width: 544px;
                height: 28px;
                margin-bottom:36px ;
                margin-top:10px ;
            }

                #labTitle{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 28px;
                    text-align: start;
                    color: #1975FF;
                }

            #labParagraphContent{
                width: 544px;
                height: 288px;
            }
                
                #labParagraph{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 32px;
                    text-align: start;

                }


/* ------------ The Laboratory ------------*/
/* ------------ The Interface ------------*/

#interface{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 863px;
    background-color: #F9F9F9;
}

    #interfaceContainer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        #interfaceTextContainer{
            width: 1215px;
            height: 232px;
            margin-bottom: 64px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

            #interfaceTitleContent{
                width: 217px;
                height: 40px;
            }

                #interfaceTitle{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 28px;
                    color: #1975FF;
                }

            #interfaceParagraphContent{
                width: 804px;
                height: 168px;
            }

                #interfaceParagraph{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    text-align: center;
                    color: #344051;
                }

        #interfaceCardsContainer{
            width: 1215px;
            height: 400px;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

            .interfaceCards{
                width: 400px;
                height: 350px;
                border-radius: 8px;
                background-color: #ffffff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;
            }

                .interfaceCardsImagesContent{
                    border-radius:8px;
                    width: 100%;
                    height: 213px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                }

                    .interfaceCardImage{
                        width: 95%;
                        height: 91%;
                        border-radius:8px;
                    }


                .interfaceCardsTextContent{ 
                    border-radius:0 0 8px 8px;
                    width: 100%;
                    height: 148px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 10px;
                }

                    .interfaceCardsTitleContent{
                        height: 32px;
                        width: 352px;
                        margin-bottom: 10px;
                        display: flex;
                        align-items: center;
                    }

                        .interfaceCardsTitle{
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 32px;
                            color: #141C24;
                        }

                    .interfaceCardsParagraphContent{
                        height: 48px;
                        width: 352px;
                    }

                        .interfaceCardsParagraph{
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            color: #344051;

                        }




/* ------------ The Interface ------------*/

/*  ------------ Responsive ------------ */


@media screen and (max-width: 3900px){

    body{
        width: 100%;
    }

    #header{
        height: 76px;
        justify-content: center;
        align-items: center;

        /* flex-direction: column;
        height: 450px; */


    }

        #iconPlace{

            display: none;
            background-color: blue;
            height: 60px;
            width: 60px;
            margin-top: 20px;
            margin-left: 0;

            /* display: flex; */
        
        
        }

        #buttonsPlace{
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;

            /* margin-bottom: 20px; */

        }

        .buttonBox{
            display: none;
        }

        #shower{
            display: flex;
        }

    
}

@media screen and (max-width: 1240px){

    #interface{
        padding: 0;
        height: 1700px;
        justify-content: center;
        align-items: center;
    }
    
    #interfaceCardsContainer{
        flex-direction: column;
        height: 1100px;
    }

}

@media screen and (max-width: 1145px){

    #interfaceImage{
        display: none;
    }

    #projectImageContainer{
        display: none;
    }

    #labImageContainer{
        display: none;
    }

    #projectTitle{
        text-align: end;
    }

    #projectParagraph{
        text-align: end;
    }
    
}

@media screen and (max-width: 825px){
   
    #homeTextContent{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

        #homeTitle{
            width: 340px;
            height: 370px;
        }

        #homeParagraph{
            width: 340px;
            height: 58px;
        }

    #project{
        height: 1000px;
    }

        #projectTextContainer{
            width: 340px;
            height: 800px;
        }

    #labTextContainer{
        width: 340px;
    }

        #labTitleContent{
            width: 340px;
        }

        #labParagraphContent{
            width: 340px;
            height: 500px;
        }
    

    #interface{
        height: 1800px;
    }

        #interfaceTextContainer{
            width: 100%;
            height: 450px;
            margin-bottom: 30px;
            margin-top: 40px;
        }

            #interfaceTitleContent{
                margin-bottom: 20px;
            }
            
            #interfaceParagraphContent{
                width: 340px;
                height: 392px;
            }   

        #interfaceCardsContainer{
            margin-top: 30px;
            height: 1300px;
        }

            .interfaceCards{
                width: 280px;
                height: 400px;
            }

                .interfaceCardsTextContent{
                    margin-bottom: 30px;
                    width: 230px;
                    height: 250px;
                }   

                    .interfaceCardsTitleContent{
                        width: 230px;
                    }
                    .interfaceCardsParagraphContent{
                        width: 230px;
                    }

   
}
/*  ------------ Responsive ------------ */