#bodyContainer{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#containerBoxNew{
    /* background-color: blue; */
    width: calc(100% - 60px);
    height: calc(100% - 40px) ;
}

#titleContainer{
    /* background-color: red; */
    width: 100%;
    height: 50px;
}

#subtile{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Open Sans';
    color: #728095;
    font-weight: 600;
}

#titleHome{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: 'Open Sans';
    color: #0F2744;
    font-weight: 600;
}

#containerControllers{
    /* background-color: blue; */
    width: 100%;
    height: 55px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.controllerButton{
    padding: 14px , 16px, 14px , 16px;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    margin-left: 20px;
    border: 1px solid #7C8046;
    background-color: white;
    cursor: pointer;
    color: #7C8046;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: 600;
    transition: .1s;
}

.controllerButton:hover{
    color: white;
    background-color: #7C8046;
}



#exportButton{
    background-color: #7C8046;
    transition: .2s ease-in;
}

#exportTitle{
    color: white;
}

#myModelsListcontainer{
    width: 100%;
    height: calc(100% - 165px);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;

}

#myModelsListHeader{
    width: 100%;
    height: 55px;
    border-radius: 8px 8px 0px 0;
    border: 1px solid #E6EAEE;
    display: flex;
    justify-content: start;
    align-items: center;
}

#myModelsListHeaderTitle{
    color: #0F2744;
    margin: 0;
    margin-left: 25px;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 600;
}

#myModelsBodyHeader{
    background-color: #F5F6E9;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #E6EAEE;
    border-top: 1px solid #E6EAEE;
    border-left: 1px solid #E6EAEE;
    border-right: 1px solid #E6EAEE;
    display: flex;
    justify-content: start;
    align-items: center;
}


.modelNameContainer{
    /* background-color: green; */
    height: 100%;
    width: 280px;
    padding-left: 25px;
    padding-right: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.modelTypeContainer{
    /* background-color: blue; */
    height: 100%;
    width: calc(100% - 700px);
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.modelFrameworkContainer{
    /* background-color: green; */
    height: 100%;
    width: 280px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.modelAccessContainer{
    /* background-color: blue; */
    height: 100%;
    width: 140px;
    padding-left: 20px;
    padding-right: 25px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.modelsBHtitle{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    color: #728095;
}

#myModelsList{
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: calc(100% - 110px);
    border-left: 1px solid #E6EAEE;
    border-right: 1px solid #E6EAEE; 
    border-bottom: 1px solid #E6EAEE; 
    border-radius: 0, 0 , 8px , 8px;
    overflow-y: scroll;
}

#myModelsList::-webkit-scrollbar{
    width: 0px;
}


.myModelIten{
    /* background-color: #F5F6E9; */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #E6EAEE;
    cursor: pointer;
    transition: .1s ease-in;
}

.myModelIten:hover{
    background-color: #ebebeb;
}


.modelstitle{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    color: #0F2744;
}

/* VIEW DE IMPORTAÇÃO */

#viewContainer{
    background-color: #00000033;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}

#importContainer{
    background-color: white;
    border-radius: 8px;
    border: 1px solid #E6EAEE;
    width: 490px;
    height: 600px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    display:none;
}

#importContainerHeader{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #E6EAEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#importContainerBody{
    width: 100%;
    height: calc(100% - 50px);
}

#importContainerTitle{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
}

.closeContainer{
    width: 25px;
    height: 25px;
    margin-right: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .1s ease-in;
    cursor:pointer;
}

.closeContainer:hover{
    background-color: rgba(255, 0, 0, 0.247);
}



#fileInputContainer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.containerTitle{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    margin-left: 20px;
    color: #0F2744;    
}

#uploadContainer{
    border-radius: 4px;
    border: 1px solid #E6EAEE;
    width: calc(100% - 40px) ;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
}

#btnWarning{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    color: #0F2744;
    border: 0;
    background-color: #7C8046;
    color: #fff;  
    overflow: hidden;
    transition: .1s ease-in;
}

#btnWarning:hover{
    background-color: #5c5f34;
    color: #fff;  
}

#btnWarning input[type="file"]{
    position: absolute;
    cursor: pointer;
    width: calc(100% - 10px);
    height: 100%;
    
    /* opacity: 0; */
}

::-webkit-file-upload-button{
    opacity: 0;
    width: 200px;
    height: 100%;
    cursor: pointer;
    font-family: 'Open Sans';
}

#btnWarningImg{
    margin-right: 10px;
    margin-left: 10px;
}

#modelNameInputContainer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#modelNameContainer{
    border-radius: 4px;
    border: 1px solid #F5F6E9;
    padding: 10px;
    width: calc(100% - 60px) ;
    height: 20px;
    font-family: 'Open Sans';
    font-size: 14px;
    background-color: #F5F6E9;
    margin-left: 20px;
    margin-top: 10px;
}

#modelDescriptionContainer{
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#modelDescription{
    border-radius: 4px;
    border: 1px solid #F5F6E9;
    padding: 10px;
    width: calc(100% - 60px) ;
    height: 90px;
    font-family: 'Open Sans';
    font-size: 14px;
    background-color: #F5F6E9;
    margin-left: 20px;
    margin-top: 10px;
}

#modelFrameworkContainer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#modelFrameworkSelect{
    border-radius: 4px;
    border: 1px solid #F5F6E9;
    width: calc(100% - 40px) ;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Open Sans';
    font-size: 14px;
    background-color: #F5F6E9;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
}

#importOptionsConttainer{
    width: 100%;
    height: calc(100% - 470px);
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

.importOption{
    background-color: #7C8046;
    font-family: 'Open Sans';
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    border-radius:4px;
    border: 0;
    width: 120px;
    height: 40px;
    margin: 20px;
    cursor: pointer;
    transition: .1s ease-in;
}

.importOption:hover{
    background-color: #5c5f34;
}
/* VIEW DE IMPORTAÇÃO */

/* VIEW DO MODELO */
