body{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    margin-bottom: 20px;
}

ul{
    padding-left: 25px;
}

hr{
    
}

/*BARRA DE NAVEGACAO*/

#loader{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open sans';
}

#navbarBody{
    position: absolute;
    width: 230px;
    height: 100vh;
    border-right: 1px solid #E6EAEE;
    display: flex;
    flex-direction: column;

    display: none;
}

#imageContainer{
    /* background-color: blue; */
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbarContainer{
    width: 100%;
    height: calc(100vh - 180px);
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

#navbar{
    /* background-color: blue; */
    width: 100%;
    height: 235px ;
    display: flex;
    justify-content: start;
    align-items: center;
}

.navButtons{
    text-decoration: none;
    color: #ABB8CA ;
    font-size: 14px;
    font-family: 'Open Sans';
}

.navButtonsSelected{
    text-decoration: none;
    color: #7C8046 ;
    font-size: 14px;
    font-family: 'Open Sans';
}

#homeicon{
    margin-right: 15px ;
    transform: translateY(2px);
}

#gridicon{
    margin-right: 15px ;
    transform: translateY(3px);
}

#comunityicon{
    margin-right: 15px ;

}

#profileicon{
    margin-right: 15px ;
    transform: translateY(2px);
}

#logoutContainer{
    /* background-color: blue; */
    width: 100%;
    height: 150px ;
    display: flex;
    justify-content: start;
    align-items: center;
}

#logoutButton{
    margin-left: 25px;
    font-size: 14px;
}

#logouticon{
    transform: translateY(4px);
    margin-right: 15px ;
}

/*BARRA DE NAVEGACAO*/
/*HEADER*/

#header{
    position: absolute;
    /* background-color: blue; */
    border-bottom: 1px solid #E6EAEE;
    width: calc(100% - 230px);
    left: 230px;
    height: 65px;
    display: flex;
    justify-content: flex-end;

    display: none;
}

#notificationsContainer{
    /* background-color: red; */
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*HEADER*/

#container{
    position: absolute;
    top: 65px;
    left: 230px;
    width: calc(100% - 230px);
    height: calc(100vh - 65px);

    display: none;
}

/* NOTIFCATIONS*/

#notificationsContent{
    position: absolute;
    background-color: #fff;
    box-shadow:0px 0px 5px #0000006b;
    border-radius: 8px;
    width: 400px;
    height: 500px;
    right: 20px;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;

    display: none;
}

#notificationsHeader{
    border-bottom: 1px solid #E6EAEE;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

#notificationsTitle{
    font-family: 'Open Sans';
    font-size: 16px;
    color: #0F2744;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    
}

#notificationsBody{
    width: 100%;
    height: calc(100% - 50px);
}

#notificationsList{
    margin: 0;
    padding:0;
}

.notification{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    height: 10px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: .1s ease-in;
    cursor: pointer;
}

.notification:hover{
    background-color: #E6EAEE;
}

.notificationLink{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 70px;
}

.notificationProfile{
    background-color: #7C8046;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: #fff;
    font-family: 'Open Sans';
}

.notificationsBody{
    height: 35px;
    width: calc(100% - 55px);
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.notificationTitle{
    margin: 0;
    margin-top: 0px;
    padding: 0;
    font-size: 14px;
    color: #ABB8CA;
    font-family: 'Open Sans';
    font-weight: 500;
}

.notificationDescription{
    margin: 0;
    margin-top: 3px;
    padding: 0;
    font-size: 14px;
    color: #000000;
    font-family: 'Open Sans';
    font-weight: 500;
}

#workspaceicon{
    width: 18px;
    margin-right: 17px;
    transform: translateY(4px);
}

#navButtonWorkspace{
    display: flex;
    justify-content: center;
    align-items: center;
}

.workspace{
    width: 230px;
    transform: translateX(-25px);
    background-color: #E6EAEE;
    margin-bottom: 15px;
    display: block; height: 1px;
    border: 0; border-top: 1px solid #E6EAEE;
    margin: 1em 0; padding: 0;
}


strong{
    color: #707986;
}

.loader {
    --dim: 3rem;
    width: var(--dim);
    height: var(--dim);
    position: relative;
    animation: spin988 2s linear infinite;
  }
  
  .loader .circle {
    --color: #7c8046bd;
    --dim: 1.2rem;
    width: var(--dim);
    height: var(--dim);
    background-color: var(--color);
    border-radius: 50%;
    position: absolute;
  }
  
  .loader .circle:nth-child(1) {
    top: 0;
    left: 0;
  }
  
  .loader .circle:nth-child(2) {
    top: 0;
    right: 0;
  }
  
  .loader .circle:nth-child(3) {
    bottom: 0;
    left: 0;
  }
  
  .loader .circle:nth-child(4) {
    bottom: 0;
    right: 0;
  }
  
  @keyframes spin988 {
    0% {
      transform: scale(1) rotate(0);
    }
  
    20%, 25% {
      transform: scale(1.3) rotate(90deg);
    }
  
    45%, 50% {
      transform: scale(1) rotate(180deg);
    }
  
    70%, 75% {
      transform: scale(1.3) rotate(270deg);
    }
  
    95%, 100% {
      transform: scale(1) rotate(360deg);
    }
  }