body{
    margin: 0px;
    padding: 0px;
    font-family:'Inter';
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

#container{
  margin-top: 100px;
  width: 490px;
  height: 600px;
  border: 1px solid #E6EAEE;
  border-radius: 8px;
  background-color:#F5F6E9;
}

#containerHeader{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#containerTitle{
  font-family: 'Open Sans';
  font-size: 30px;
  font-weight: 700;
  color: #7C8046;
}

#containerBody{
  background-color: black	;
  width: 100%;
  height: calc(100% - 100px);
}